/* .input {
  background-color: #ffffff;
  
  height: 40px;
  padding: 10px;

}

.input:focus {
  color: rgb(0, 255, 255);
  background-color: #ffffff;
  outline-color: rgb(0, 255, 255);
  box-shadow: -3px -3px 15px rgb(0, 255, 255);
  transition: .1s;
  transition-property: box-shadow;
} */